* {
    text-align: center;
    font-family: 'Source Code Pro', monospace, Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}

body {
    background-image: url('../images/galaxy.jpg');
    /* background-image: url('../images/globalwave.gif'); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    /* background-color: rgba(255,255,255,1.0); */
    justify-content: center;
}

#title h1 {
    color: white;
    text-align: center;
    /* margin-top: 40px; */
    margin: 40px 0px -10px 0px;
    padding: 10px;
    font-size: xx-large;
    /* font-style: italic; */
    /* text-decoration: underline; */
    text-decoration: underline;
}

#title h1:hover {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

#title h1 span {
    /* background-color: #FFFFFF; */
    padding: 2.55%;
    border-radius: 5px;
}

nav {
    justify-content: center;
    /* flex-wrap: wrap; */
    color: white;
    display: flex;

    /* padding: 10px; */
    margin: 15px;
    max-width: 800px;
    display: inline-block;
    /* list-style-type: none; */
}

nav ul {
    margin: 0;
    padding: 10px 0px;
}

nav li {
    display: inline-flex;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px 10px;
    margin: 10px 3px;
    /* margin-right: 2.5%;
    margin-left: 2.5%; */
    font-weight: bold;
    font-size: medium;
    text-align: center;

}

nav li:hover {
    box-shadow: inset 0 0px 20px rgba(255, 255, 255, 0.3), 0 0px 10px rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* unvisited link */
nav a:link {
    color: inherit;
}

/* visited link */
nav a:visited {
    color: inherit;
}

/* mouse over link */
nav a:hover {
    color: hotpink;
    font-style: italic;
}

/* selected link */
nav a:active {
    color: blue;
}

#roundthings {
    justify-content: center;
    /* margin: 0px auto; */
    /* flex-wrap: wrap; */
    display: inline-flex;
}

.roundthingcontainer {
    position: relative;
    display: inline;
}

.orbitfront {
    position: absolute;
    bottom: -0%;
    left: -10%;
    z-index: 4;
}

.orbitback {
    position: absolute;
    bottom: -0%;
    left: -10%;
    z-index: -1;
}

.rotate45 {
    rotate: -135deg;
}

.displacement-image-cropper {
    margin: 15px 10px;
    width: 80px;
    height: 80px;
    /* object-fit: cover; */
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}

.displacement-image-cropper img {
    /* display: inline; */
    margin: -50% 0 0 -123%;
    height: 200%;
    width: auto;
    filter: grayscale(40%);

    /* opacity: 0.75; */
    /* background: rgba(255,255,255,.3); */

}

.displacement-image-cropper-beach {
    margin: 15px 10px;
    width: 80px;
    height: 80px;
    /* object-fit: cover; */
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.displacement-image-cropper-beach img {
    /* display: inline; */
    margin: -3% 0 0 -5%;
    height: 107%;
    justify-content: center;
    width: auto;
    /* height: auto; */
    /* filter: grayscale(40%); */
    /* opacity: 0.75; */
    background: rgba(255, 255, 255, 1.0);

}

.displacement-image-cropper-portrait {
    margin: 5px 5px;
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.displacement-image-cropper-portrait img {
    /* display: inline; */
    margin: -9% 0 0 -3%;
    height: 150%;
    justify-content: center;
    width: auto;
    /* height: auto; */
    /* filter: grayscale(40%); */
    /* opacity: 0.75; */
    background: rgba(255, 255, 255, 1.0);

}

.backdrop-black {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.3);
    /* border-radius: 16px; */
    box-shadow: inset 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.backdrop-white {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.backdrop-nocolor {
    /* background: rgba(255,255,255,.3); */
    /* box-shadow: 0 0 15px rgba(255,255,255,0.5); */
    box-shadow: inset 7.5px 7.5px 10px rgba(0, 0, 0, 0.2), inset -2.5px -2.5px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}


/* #main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
} */
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    /* width: 400px; */
    /* padding: 10px; */
    /* border: 1px solid green; */
}

#main p {
    font-size: small;
    color: aliceblue;
    text-align: left;
    padding: 0px 20px
}

#main h1 {
    font-size: x-large;
    color: aliceblue;
}

#main h2 {
    font-size: large;
    color: aliceblue;
}

.roundcorners {
    border-radius: 7.5px 7.5px 7.5px 7.5px;
}

#quickview {
    width: 90%;
    max-width: 400px;
    padding: 10px 10px;
    margin: 10px 2.5%;
    position: relative;
    height: auto;
}

#quickview h1 {
    text-align: left;
    padding: 0px 20px
}

#quickview h2 {
    text-align: left;
    padding: 0px 20px
}

#quickview p {
    color: aliceblue;
}

#quickview a {
    color: aliceblue;
}

#quickview a:hover {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

#about {
    /* margin: 0 auto; */
    width: 90%;
    max-width: 400px;
    padding: 10px 10px;
    margin: 10px 2.5%;
    /* margin: 10px 2.5%; */
}

.topic {
    /* margin: 0 auto; */
    width: 90%;
    /* height: auto; */
    max-width: 800px;
    padding: 10px 10px;
    margin: 10px 2.5%;
    /* overflow: hidden; */
    /* position:relative; */
    /* margin: 10px 2.5%; */
}

.topic figcaption {
    text-align: left;
    color: aliceblue;
    font-size: x-small;
    font-style: italic;
    width: 95%;
    margin: 0% 2.5%;
}

.view {
    overflow: hidden;
    max-height: 400px;
    position: relative;
    /* border:1px solid #999; */
}

.view.expanded {
    max-height: none;
}

.read-more {
    text-align: right;
    color: aliceblue;
}

.read-more.hover {
    text-decoration: underline;
    /* cursor: pointer; */
    font: italic;
}