* {
    text-align: center;
    font-family: 'Source Code Pro', monospace, Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}

body{
    background-image: url('../images/galaxy.jpg');
    /* background-image: url('../images/globalwave.gif'); */
    /* background-repeat: no-repeat; */
    /* background-color: rgba(255,255,255,1.0); */
    justify-content: center;
}

#title h1 {
    color:white;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-style: italic;
    text-decoration: underline;
}

#title h1 span {
    /* background-color: #FFFFFF; */
    padding: 2.55%;
    border-radius: 5px;
}

#navdiv {
    /* flex-wrap: wrap; */
    color:white;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    margin: 20px;
}

#navdiv .navigation {
    /* margin: 0 auto; */
    /* width: 50%; */
    max-width: 800px;
}

#navdiv span {
    /* background-color: rgba(255,255,255,0.5); */
    /* border-radius: 10px; */
    /* box-shadow: inset 0 0 5px #000; */
}

#navdiv .navigation ul {
    margin: 0;
    padding: 10px 20px;
}

#navdiv .navigation li {
    display: inline-block;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 10px 10px;
    /* margin-right: 2.5%;
    margin-left: 2.5%; */
    font-weight: bold;
    font-size: larger;
    text-align: center;

}

#navdiv .navigation li:hover {
    box-shadow: inset 0 0px 20px rgba(255, 255, 255, 0.2), 0 0px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#roundthing {
    justify-content: center;
    margin: 30px auto;
}

.displacement-image-cropper {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.displacement-image-cropper img {
    /* display: inline; */
    margin: -50% 0 0 -123%;
    height: 200%;
    width: auto;
    filter: grayscale(40%);
    /* opacity: 0.75; */
    /* background: rgba(255,255,255,.3); */

}


/*
.backdrop-black {
    background: rgba(0,0,0,0.2);
    /* box-shadow: inset 7.5px 7.5px 10px rgba(0,0,0,0.2), inset -2.5px -2.5px 10px rgba(255,255,255,0.2), 0px 0px 20px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 10px rgba(255,255,255,0.3);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}

.backdrop-white {
    background: rgba(255,255,255,0.2);
    box-shadow: inset 7.5px 7.5px 10px rgba(0,0,0,0.2), inset -2.5px -2.5px 10px rgba(255,255,255,0.2), 0px 0px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}
*/

.backdrop-black {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.backdrop-white {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.backdrop-nocolor {
    /* background: rgba(255,255,255,.3); */
    /* box-shadow: 0 0 15px rgba(255,255,255,0.5); */
    box-shadow: inset 7.5px 7.5px 10px rgba(0,0,0,0.2), inset -2.5px -2.5px 10px rgba(255,255,255,0.2);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
}


#main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.roundcorners {
    border-radius: 5px 5px 5px 5px;
}

#quickview {
    /* margin: 0 auto; */
    width: 90%;
    max-width: 400px;
    padding: 10px 10px;
    margin: 10px 2.5%;
    /* background-color: rgba(255,255,255,0.2); */
    /* flex-wrap: inherit; */
}

#quickview h1 {
    text-align: left;
    color: aliceblue;
    padding: 0px 20px
}

#quickview p {
    color: aliceblue;
    text-align: left;
    padding: 0px 20px

}
#quickview a {
    color: aliceblue;
}
#quickview a:hover {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
#about {
    /* margin: 0 auto; */
    width: 90%;
    max-width: 400px;
    padding: 10px 10px;
    margin: 10px 2.5%;
    /* margin: 10px 2.5%; */
}

#about h2 {
    color: aliceblue;
}

#about p {
    color: aliceblue;
    text-align: left;
    padding: 0px 20px
}

.wrap {
    float: right;
    margin: 5px;
}